html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
}

.container {
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 80px;
  padding: 30px 25px;
}

.small-react-logo {
  width: 40px;
  margin-right: 8px;
  line-height: 70px;
}

.react-facts-title {
  color: #00D8FF;
  font-size: 1.6rem;
  line-height: 70px;
  font-weight: bold;
}

.react-course-description {
  margin-right: 0px;
  margin-left: auto;
  color: #DEEBF8;
  line-height: 70px;
  font-weight: bold;
}

.main-content {
  margin: auto;
  height: 100%;
  background-color: #282D35;
  padding: 20px 0px 0px 40px;
  background-image: url(./imgs/React-logo-background.png);
  background-repeat: no-repeat;
  background-position: right center;
}

h1 {
  color: white;
  margin: 0;
  padding: 15px 0px;
  font-size: 2.4rem;
  letter-spacing: -0.05rem;
}

.unordered-list {
  font-size: 1rem;
  color: white;
}

.unordered-list > li {
  padding: 0px 0px 10px 5px;
}

.unordered-list > li::marker {
  font-size: 1.4rem;
  color: #00D8FF;
}

