html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
}

.container {
  height: 100%;
}

/* Navbar */

nav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 80px;
  padding: 30px 25px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

nav.dark {
  background-color: #21222A;
}

.small-react-logo {
  width: 40px;
  margin-right: 8px;
}

.react-facts-title {
  color: #00D8FF;
  font-size: 1.6rem;
}

.toggler {
  display: flex;
  align-items: center;
  margin-right: 0px;
  margin-left: auto;
}

.toggler p {
  font-size: 0.8rem;
  font-weight: 600;
}

.toggler-slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler-slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler-slider-circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler-slider-circle {
  background-color: black;
}

.toggler-light {
  color: #2B283A;
}

nav.dark .toggler-light {
  color: #918E9B;
}

.toggler-dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler-slider {
  justify-content: flex-end;
}

/* Main Content */

.main-content {
  margin: auto;
  height: 100%;
  background-color: #282D35;
  padding: 20px 0px 0px 40px;
  background-image: url(./imgs/React-logo-background.png);
  background-repeat: no-repeat;
  background-position: right center;
}

h1 {
  color: white;
  margin: 0;
  padding: 15px 0px;
  font-size: 2.4rem;
  letter-spacing: -0.05rem;
}

.unordered-list {
  font-size: 1rem;
  color: white;
}

.unordered-list > li {
  padding: 0px 0px 10px 5px;
}

.unordered-list > li::marker {
  font-size: 1.4rem;
  color: #00D8FF;
}

@media (max-width: 500px) {
  .small-react-logo {
    width: 30px;
  }

  .react-facts-title {
    font-size: 1.2rem;
  }

  .react-course-description {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .unordered-list {
    font-size: 0.8rem;
  }
}